body {
  background-color: #191818;
  color: white;
}

img {
  width: 25%;
}

.logo {
  width: 10%;
}

.intro-page {
  background-image: url("./images/melleniumRod1.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}
